<p id="notice"><%= notice %></p>

<p>
  <h4 class="sform">Title</h4>
  <%= @recipe.title %>
</p>

<p>
  <h4 class="sform">Description</strong>
  <%= @recipe.description %>
</p>


<h4 class="sform">Ingredients</h4>
<ul>
	<% for @ingredient in @recipe.ingredients %>
	<li><%= @ingredient.content %></li>
	
	<% end %>
</ul>

<h4 class="sform">Steps</h4>
<ol>
	<% for @step in @recipe.steps %>
	<li><%= @step.direction %></li>
	<% end %>
</ol>

<% if @recipe.image? %>

<%= image_tag @recipe.image.url, class: "recipe-show" %>

<% end %>

 

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
