<!DOCTYPE html>


<html lang="en">

  <head>
    <title>Yumzo Recipe Database</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap" rel="stylesheet"
    >
  </head> <!--closes head-->

    <nav class="navbar navbar-light">
            <div class="navbar-header">
              <%= link_to "Yumzo Recipe App", root_path, class: 'navbar-brand' %>
            </div>
               <ul class="nav navbar-nav navbar-right">
            <li class="about"> <%= link_to "About", pages_about_path %></li>
      </ul>
      </nav>

  <header class="container">




  <body>
    <%= yield %>
  </body>
</div> <!--closes container>
</html>
